* {
  margin: 0;
  padding: 0;
  background: var(--background);
  box-sizing: border-box;
}
:root {
  --background: #0d1a27;
  --text-color: #cdcd66;
}
/* A */
.App {
  font-family: "Rowdies", cursive;
  background: var(--background);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  padding: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
a:active {
  color: var(--text-color);
  text-decoration: none;
}
.appimgs {
  width: 30rem;
}
/* B */
/* C */
.card {
  border: var(--background) solid 3px;
  width: 20rem;
  height: 20rem;
  background: transparent;
}
.coming {
  font-size: 5rem;
  opacity: 0.5;
}
.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
/* D */
.downbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.downbtnstyle {
  width: 5rem;
  opacity: 0.8;
}
/* E */
/* F */
.facesvg {
  width: 25rem;
  margin-left: 13rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* G */
/* H */
/* I */
#intro {
  width: 40vw;
  font-size: 2rem;
}
/* J */
/* K */
/* L */
.logo {
  width: 20rem;
  /* margin: 0rem 10rem; */
}
.logo:hover,
.lrglogo:hover,
.smllogo:hover,
.node:hover {
  border: dotted 3px var(--text-color);
  border-radius: 30px;
}
.lrglogo {
  width: 15rem;
  /* margin: 0rem 10rem; */
}

.smllogo {
  width: 20rem;
  /* margin: 0rem 10rem; */
}
.paddinglogo {
  width: 25rem;
  margin-top: 10rem;
  /* margin: 0rem 10rem; */
}
.node {
  width: 30rem;
  margin-top: 4rem;
}

.list {
  margin-right: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.li-item:hover {
  animation: font 1s ease-in;
  transform-origin: top;
}
@keyframes font {
  10% {
    color: var(--text-color);
  }
  35% {
    color: white;
  }
  50% {
    color: yellowgreen;
  }
  65% {
    color: white;
  }
  100% {
    color: var(--text-color);
  }
}
li {
  margin: 0rem 3rem;
  font-size: 1.1rem;
}
/* M */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  animation: fadeIn 3s ease;
  margin: 3rem 0rem 0.8rem 0rem;
  /* border: solid 3px var(--text-color); */
}
/* N */
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0rem;
  flex-wrap: wrap;
}
#nbdivbtn {
  position: absolute;
  bottom: -80vh;
  left: 44vw;
}
.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin-bottom: 20rem;
  /* border: solid 3px var(--text-color); */
}
.navbtnstyle {
  opacity: 0.5;
  width: 10vw;
  height: 6vh;
  /* border-color: var(--text-color);
  border-radius: 20px; */
  border: none;
  color: var(--text-color);
}
.name {
  margin-left: 1rem;
}
/* O */
/* P */
.pintro {
  border-right: 0.2em solid #ededda;
  animation: typing 3s steps(60, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkCaret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: var(--text-color) solid 3px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px var(--text-color);
  width: 20rem;
  height: 15rem;
  margin: 10rem 2rem 2rem 2rem;
  animation: fade 1s ease-in;
}
.projects:hover {
  animation: increase 2s ease-in-out;
  transform-origin: center;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes increase {
  0% {
    width: 20rem;
  }
  50% {
    width: 15rem;
  }
  100% {
    width: 20rem;
  }
}
.projectBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98vw;
  margin-top: 5rem;
}
/* Q */
/* R */
/* S */
/* T */
.techcont {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20rem;
  /* border: white 3px solid; */
}

.techstack-outer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 35vw;
  overflow: hidden;
  border-top: 3px solid var(--text-color);
  border-bottom: 3px solid var(--text-color);
  border-radius: 20px;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.techinfoheader {
  font-size: 5rem;
  text-align: center;
}
/* U */
/* V */
/* W */
/* X */
/* Y */
/* Z */
@media all and (max-width: 1159px) {
  .facesvg {
    width: 15rem;
    margin-left: 1.2rem;
  }

  .logo {
    width: 6rem;
    margin: 3rem 0rem;
  }
  .lrglogo {
    width: 5rem;
    margin: 3rem 0rem;
  }

  .smllogo {
    width: 7rem;
    margin: 3rem 0rem;
  }
  .paddinglogo {
    width: 7rem;
    margin-top: 10rem;
    margin: 3rem 0rem;
  }
  .node {
    width: 7rem;
    margin-top: 1rem;
    margin: 3rem 0rem;
  }
}
@media all and (max-width: 500px) {
  * {
    overflow-x: hidden;
  }
  li,
  a,
  .li-item,
  .list {
    margin: 0rem 0.19rem;
    padding: 0;
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.6rem;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main,
  .homeSection .App,
  #intro .facediv {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .main {
    margin-top: 10em;
  }
  .techstack-outer {
    flex-direction: column;
  }
  .slide-container {
    width: 70vw;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-top: 3px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);
  }
  .facesvg {
    width: 15rem;
    margin: 5rem 0rem;
  }
  #intro {
    font-size: 1em;
    margin-left: 0rem;
  }

  .logo {
    width: 3rem;
    margin: 3rem 0rem;
  }
  .lrglogo {
    width: 2rem;
    margin: 3rem 0rem;
  }

  .smllogo {
    width: 3rem;
    margin: 3rem 0rem;
  }
  .paddinglogo {
    width: 5rem;
    margin-top: 10rem;
    margin: 3rem 0rem;
  }
  .node {
    width: 3rem;
    margin-top: 1rem;
    margin: 3rem 0rem;
  }
  .list {
    font-size: 3px;
  }
  @keyframes blinkCaret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--text-color);
    }
  }
}
